sentence_transformers
langchain-openai
langchain
langchain-unstructured
ninja
pytest
numpy
#python and installation libraries
pep8
uv
poetry
#fastapi required libraries
fastapi
fastapi[standard]
pydantic
#sql  based libraries
sqlalchemy
#authentication based libraries
jwt
#vectordb
chromadb
#pdfextraction tools
pypdf
pymupdf
unstructured
unstructured[pdf]
unstructured[all-docs]
pdfplumber
pymupdf4llm
tesseract

python-dotenv
